@tailwind base;
@tailwind components;
@tailwind utilities;

.app_transition {
  @apply transition-all duration-300 ease-in-out;
}

:root {
  --primary: #FFF9E9;
  --secondary: #000000  ;
  --tertiary: #F1C420;
  --quaternary: #F1C420;
.bg-custom {
  background-color: #FFF9E9;
}
.f1c420-text {
  color: #F1C420;
  font-family: 'Covered By Your Grace', cursive;
}
/* styles.css */
.form-input {
  width: 100%;
  background-color: #f9f9f9;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1rem 1rem 1rem 3rem;
  outline: none;
  transition: box-shadow 0.3s, border-color 0.3s;
}

.form-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 4px rgba(58, 151, 212, 0.3); 
}

.form-textarea {
  width: 100%;
  background-color: #f9f9f9;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1rem 1rem 1rem 3rem;
  outline: none;
  transition: box-shadow 0.3s, border-color 0.3s;
}

.form-textarea:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 4px rgba(58, 151, 212, 0.3); 
}




}


