@tailwind base;
@tailwind components;
@tailwind utilities;

.app_transition {
  @apply transition-all duration-300 ease-in-out;
}

:root {
  --primary: #2a4466;
  --secondary: #17273b;
  --tertiary: #1c2e44;
  --quaternary: #385985;
}


